@model gestionAbsenceMVC.Models.Prof

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prof</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_P)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_P)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom_P)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom_P)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexe_P)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexe_P)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matiere.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matiere.libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_P }) |
    @Html.ActionLink("Back to List", "Index")
</p>
