@model IEnumerable<gestionAbsenceMVC.Models.Stagiare>

@{
    ViewBag.Title = "Index";
}

<h2>Stagiaire</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Stagiares", FormMethod.Get))
    {<b>search by :</b>
        @Html.RadioButton("searchBy", "Name", true)<text>  Name  </text>
        @Html.RadioButton("searchBy", "Gender")<text>  Gender  </text>
        @Html.RadioButton("searchBy", "Groupe")<text>  Groupe  </text>

        <p>
            @Html.TextBox("search")  <input type="submit" value="search" />
        </p>
    }

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom_S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexe_S)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groupe.nom_G)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom_S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexe_S)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groupe.nom_G)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_S }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_S }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_S })
        </td>
    </tr>
}

</table>
